.App {
  font-family: sans-serif;
  background-color:gray
  text-align: center;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
}

.title {
  color: violet;
  font-size: 30px;
}

